<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Krifollk\CodeGenerator\Api\ModulesDirProviderInterface" type="Krifollk\CodeGenerator\Model\ModulesDirProvider" />
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="triadGenerationCommand" xsi:type="object">Krifollk\CodeGenerator\Console\Command\TriadGenerateCommand</item>
                <item name="moduleGenerationCommand" xsi:type="object">Krifollk\CodeGenerator\Console\Command\GenerateModule</item>
                <item name="crudGenerationCommand" xsi:type="object">Krifollk\CodeGenerator\Console\Command\GenerateCrud</item>
            </argument>
        </arguments>
    </type>
</config>
